@font-face {
  font-family: "Coinbase Display";
  src: url("/font/Coinbase Display.ttf") format("truetype");
  font-weight: normal;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Coinbase Display", sans-serif;
  background-color: #121212;
  color: #e4e4e4;
  padding: 10px;
  overflow: hidden;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: -20px;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-image-container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.logo-text {
  font-family: "Coinbase Display", sans-serif;
}

.balance {
  font-family: "Coinbase Display", sans-serif;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation */
.btn-grp {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.nav-button {
  width: 100%;
  background: #3a3a3a;

  padding: 5px 10px;
  text-align: center;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-family: "Coinbase Display", sans-serif;
}

.nav-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.active-1 {
  background-image: linear-gradient(
    to left,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  color: #000;
}

/* Main Content */

.crypto-tabs {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.tab {
  color: #ffffff;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.tab.active {
  position: relative;
  color: #0e62ff;
  border-bottom: 2px solid #0e62ff;
}

.crypto-list {
  height: 500px;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}

.crypto-item {
  margin: 5px 0;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.crypto-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.crypto-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-size: 16px;
}

.crypto-name {
  margin-top: 2px;
  font-size: 20px;
}

.crypto-amount {
  color: #777;
}

.crypto-note {
  font-size: 12px;
  color: #00ff99;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1f1f1f;
  padding: 20px 10px;
}

.footer-nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.nav-icon {
  font-size: 20px;
}

.active-2 {
  color: #0e62ff;
}

.nav-text {
  font-size: 12px;
  color: #e4e4e4;
  font-family: "Coinbase Display", sans-serif;
}
